[defaults]
inventory = ./inventory
remote_user = ansible
timeout = 10

[privilege_escalation]
become = true
become_method = sudo
become_user = ansible
become_ask_pass = true  

[colors]
changed = blue

